<!DOCTYPE html>
<html lang="fr" class="no-js" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <title>
        {% block title %}{% endblock %}
        </title>
        
        {#
        <!-- Favicons -->
        <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="{{ app_url }}/assets/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ app_url }}/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ app_url }}/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ app_url }}/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ app_url }}/assets/favicon/site.webmanifest">
        #}

        {% block head_assets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/all.css">
        {% endblock %}
    </head>

    <body class="{% block page_class %}{% endblock %}">
       

        {% block content %}{% endblock %}

        <!-- Scripts -->
        {% block js_footer %}{% endblock %}
    </body>
</html>